In [14]:
import pandas as pd

df = pd.read_csv('Library.tsv', sep='\t')
df

df3 = df.append({'Author name': 'NewAuthor', 'Book': 'NewBook', 'Language available': 'ENG'}, ignore_index=True)
df3

   Author name        Book Language available
0  Neil Gaiman  Good Omens                RUS
1  Neil Gaiman    Coraline        ENG,ESP,RUS
2     Author 1     Book1_1                ENG
3     Author 1     Book1_2                ENG
4     Author 2     Book2_1                RUS
5     Author 2     Book2_2                ESP
6    NewAuthor     NewBook                ENG